body {
  background-image: url('https://images.alphacoders.com/132/1327999.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#main{
  width: 1200px;
  font-family: fantasy;
  background-color: rgba(0,0,0,0.8);
  opacity: 1;
  margin: auto;
  border-radius: 20px;
  border-color: blue;
  text-align: center;
  padding: 50px;
  flex-wrap: wrap;
  flex: auto;
}

#header {
  width: 500px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: fantasy;
  background-color: rgb(0, 0, 0, 0.5);
  opacity: 1;
  margin: auto;
  border-style: inset;
  border-radius: 20px;
  border-color: aliceblue;
 }

 h1{
  margin: auto;
  color: rgba(176, 230, 243, 1);
  text-shadow: 0px 3px rgb(13, 13, 14, 0.5);
  font-size: xx-large;
 }

 h2{
  padding: 10%;
  margin: auto;
  color: rgba(176, 230, 243, 1);
  text-shadow: 0px 3px rgb(13, 13, 14, 0.5);
  font-size: xx-large;
 }

 h3{
  padding: 10%;
  margin: auto;
  color: rgba(176, 230, 243, 1);
  text-shadow: 0px 3px rgb(13, 13, 14, 0.5);
  font-size: xx-large;
 }

 #searchBar{
  width: 250px;
  height: 30px;
  background-color: darkgray;
  margin: auto;
  margin-top: 20px;
  border-radius: 100px;
  border-color: aliceblue;
  padding: 0;
  opacity: 1;
  font-family: fantasy;
  font-size: large;
  font:bolder;
  text-align: center;
  text-shadow: 2px 2px lightgray;
  }

#searchBtn{
width: 100px;
height: 40px;
font-family: fantasy;
background-color: crimson;
margin: auto;
margin-left: 10px;
border-radius: 20px;
border-color: aliceblue;
padding: 0%;
opacity: 1;
font: bolder;
font-size: medium;
}




